### Q1: What are data structures, and why are they important?

In [ ]:
print("Data structures are specialized formats for organizing, storing, and managing data.")
print("They are important because they help in efficient data access, modification, and storage.")

### Q2: Explain mutable vs immutable data types with examples.

In [ ]:
mutable_list = [1, 2, 3]
mutable_list.append(4)
immutable_tuple = (1, 2, 3)
print("Mutable example (list):", mutable_list)
print("Immutable example (tuple):", immutable_tuple)

### Q3: What are the main differences between lists and tuples in Python?

In [ ]:
print("Lists are mutable and use [], Tuples are immutable and use ().")

### Q4: Describe how dictionaries store data.

In [ ]:
print("Dictionaries store data as key-value pairs using a hash table internally.")

### Q5: Why might you use a set instead of a list in Python?

In [ ]:
print("Sets automatically remove duplicates and allow fast membership testing.")

### Q6: What is a string in Python, and how is it different from a list?

In [ ]:
print("Strings are immutable sequences of characters; Lists are mutable collections of items.")

### Q7: How do tuples ensure data integrity in Python?

In [ ]:
print("Tuples are immutable, so their data cannot be changed accidentally.")

### Q8: What is a hash table, and how does it relate to dictionaries in Python?

In [ ]:
print("A hash table stores data using a hash function; Python dictionaries are implemented as hash tables.")

### Q9: Can lists contain different data types in Python?

In [ ]:
mixed_list = [1, "hello", 3.14]
print("Example of mixed list:", mixed_list)

### Q10: Explain why strings are immutable in Python.

In [ ]:
print("Strings are immutable because they are stored in fixed memory locations and changes create a new object.")

### Q11: What advantages do dictionaries offer over lists for certain tasks?

In [ ]:
print("Dictionaries offer faster lookups and better organization for key-value relationships.")

### Q12: Describe a scenario where using a tuple would be preferable over a list.

In [ ]:
print("Use a tuple when you want data to remain constant, e.g., coordinates.")

### Q13: How do sets handle duplicate values in Python?

In [ ]:
print("Sets automatically remove duplicate entries.")

### Q14: How does the 'in' keyword work differently for lists and dictionaries?

In [ ]:
print("For lists: checks each element; for dictionaries: checks keys only.")

### Q15: Can you modify the elements of a tuple?

In [ ]:
print("No, tuples are immutable and cannot be modified.")

### Q16: What is a nested dictionary, and give an example.

In [ ]:
nested_dict = {"student1": {"name": "Alice", "age": 20}, "student2": {"name": "Bob", "age": 21}}
print(nested_dict)

### Q17: Describe the time complexity of accessing elements in a dictionary.

In [ ]:
print("Accessing an element in a dictionary has average time complexity O(1).")

### Q18: In what situations are lists preferred over dictionaries?

In [ ]:
print("When you just need an ordered collection without key-value mapping.")

### Q19: Why are dictionaries considered unordered, and how does that affect data retrieval?

In [ ]:
print("Before Python 3.7, dictionaries were unordered; from 3.7+, they preserve insertion order.")

### Q20: Explain the difference between a list and a dictionary in terms of data retrieval.

In [ ]:
print("Lists retrieve data by index; Dictionaries retrieve data by key.")

### P1: Create a string with your name and print it.

In [ ]:
name = "Sujeet"
print(name)

### P2: Find the length of the string 'Hello World'.

In [ ]:
print(len("Hello World"))

### P3: Slice the first 3 characters from the string 'Python Programming'.

In [ ]:
print("Python Programming"[:3])

### P4: Convert the string 'hello' to uppercase.

In [ ]:
print("hello".upper())

### P5: Replace 'apple' with 'orange' in 'I like apple'.

In [ ]:
print("I like apple".replace("apple", "orange"))

### P6: Create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

### P7: Append the number 10 to the list [1, 2, 3, 4].

In [ ]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

### P8: Remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

### P9: Access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
print(["a", "b", "c", "d"][1])

### P10: Reverse the list [10, 20, 30, 40, 50].

In [ ]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

### P11: Create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
t = (100, 200, 300)
print(t)

### P12: Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
colors = ("red", "green", "blue", "yellow")
print(colors[-2])

### P13: Find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
print(min((10, 20, 5, 15)))

### P14: Find the index of 'cat' in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
print(("dog", "cat", "rabbit").index("cat"))

### P15: Create a tuple containing three different fruits and check if 'kiwi' is in it.

In [ ]:
fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

### P16: Create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
s = {"a", "b", "c"}
print(s)

### P17: Clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

### P18: Remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

### P19: Find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
print({1, 2, 3} | {3, 4, 5})

### P20: Find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
print({1, 2, 3} & {2, 3, 4})

### P21: Create a dictionary with the keys 'name', 'age', and 'city', and print it.

In [ ]:
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

### P22: Add 'country': 'USA' to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
d = {"name": "John", "age": 25}
d["country"] = "USA"
print(d)

### P23: Access the value associated with 'name' in {'name': 'Alice', 'age': 30}.

In [ ]:
print({"name": "Alice", "age": 30}["name"])

### P24: Remove the key 'age' from {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
d = {"name": "Bob", "age": 22, "city": "New York"}
del d["age"]
print(d)

### P25: Check if the key 'city' exists in {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
print("city" in {"name": "Alice", "city": "Paris"})

### P26: Create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

### P27: Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [ ]:
import random
rand_list = random.sample(range(1, 101), 5)
rand_list.sort()
print(rand_list)

### P28: Create a list with strings and print the element at the third index.

In [ ]:
strings = ["a", "b", "c", "d", "e"]
print(strings[3])

### P29: Combine two dictionaries into one and print the result.

In [ ]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
combined = {**d1, **d2}
print(combined)

### P30: Convert a list of strings into a set.

In [ ]:
string_list = ["apple", "banana", "apple"]
string_set = set(string_list)
print(string_set)